.app.light {
    --bg-color: #e8e8e8;
    --inverted-bg-color: #0e0e75;
    --primary-color: #2cc202;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04s;
}
